.side-nav-content {
    padding: 20px;
}

.open-side-nav-ctrl {
    position: absolute;
    z-index: 10;
    left: 12px;
    top: 12px;
}

.close-side-nav-ctrl {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 12px;
}

.data-image-content {
    padding: 30px;
}

.selection-editor-card {
    position: absolute;
    z-index: 10;
    right: 12px;
    top: 12px;
    background-color:rgba(0, 0, 0, 0.1);
}
